body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #5a83a3;
    color: #333;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 8rem 2rem;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.foto-container img {
    width: 250px;
    height: auto;
    border: 15px groove #1c6297;
    border-radius: 35%;
    box-shadow: 0 4px 500px #4f548d;
    padding: 10px;
}

.texto-container {
    flex: 1;
    text-align: left;
}

    .texto-container h1,
    .texto-container h2,
    .texto-container h3,
    .texto-container ul {
        margin: 0 0 25px 0;
    }

    .texto-container ul {
        padding-left: 2rem;
    }

/* Botón de descarga */
    .texto-container a.btn-download {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 25px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #007BFF;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

        .texto-container a.btn-download:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .texto-container {
        text-align: center;
    }

    header {
        padding: 6rem 1rem;
    }
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #f7e99d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    transition: top 0.3s;
}

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

        nav ul li {
            display: inline-block;
            margin: 0 10px;
        }

            nav ul li a {
                font-size: 1rem;
                font-weight: 700;
                color: #333;
                text-decoration: none;
                padding: 8px 12px;
                border-radius: 5px;
                transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
            }

                nav ul li a:hover {
                    background-color: #ffdd00;
                    color: #000;
                    transform: scale(1.05);
                }

/* Section */
section {
    padding: 2rem;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stack Tecnológico */
#stack-tecnologico {
    text-align: center;
    padding: 20px;
}

.stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.stack-item img {
    max-width: 80%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

    .stack-item img:hover {
        transform: scale(1.1);
    }

.stack-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

/* Proyectos */
#proyectos {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

    #proyectos ul {
        list-style-type: none;
        padding: 0;
    }

    #proyectos li {
        margin-bottom: 20px;
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    #proyectos a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease, transform 0.2s ease;
    }

        #proyectos a:hover {
            color: #007BFF;
            transform: scale(1.05);
        }

    #proyectos img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        transition: transform 0.2s ease;
    }

        #proyectos img:hover {
            transform: scale(1.1);
        }

/* Formación y Experiencia */
#formacion {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

    #formacion ul {
        text-align: left;
        padding: 20px;
        list-style: none;
    }

        #formacion ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            #formacion ul li div {
                flex: 1;
            }

            #formacion ul li img {
                width: 100px;
                height: auto;
                border-radius: 8px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                margin-left: 20px;
            }

#experiencia {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

    #experiencia ul {
        text-align: left;
        padding: 20px;
        list-style: none;
    }

        #experiencia ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            #experiencia ul li div {
                flex: 1;
            }

            #experiencia ul li img {
                width: 100px;
                height: auto;
                border-radius: 8px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
                margin-left: 20px;
            }

#formacion ul li img,
#experiencia ul li img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

    #formacion ul li img:hover,
    #experiencia ul li img:hover {
        transform: scale(1.1);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

/* Habilidades */
#habilidades {
    text-align: center;
    padding: 20px;
}

.habilidades-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.habilidades {
    background-color: #f0f0f0;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

    .habilidades:hover {
        transform: scale(1.1);
        background-color: #ffdd00;
        color: #000;
    }

/* Contacto */
#contacto {
    text-align: center;
    padding: 20px;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contacto-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

    .contacto-item:hover {
        transform: scale(1.05);
        background-color: #ffdd00;
    }

    .contacto-item img {
        width: 40px;
        height: auto;
        margin-right: 15px;
    }

    .contacto-item p {
        margin: 0;
        font-size: 1rem;
        color: #333;
        font-weight: bold;
    }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
