body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(145deg, #1b2735 0%, #3c4e68 60%, #4b3b70 100%);
    color: #333;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    font-size: 16px;
}

/* HEADER */
header {
    background: url('img/backgroundheader.png') no-repeat center center;
    background-size: cover;
    background-color: rgba(51, 51, 51, 0.7);
    color: #fff;
    padding: 8rem 2rem;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.foto-container img {
    width: 320px;
    height: auto;
    border: 10px solid #345c72;
    border-radius: 43%;
    padding: 10px;
    filter: drop-shadow(0 4px 150px #345c72);
}

.texto-container {
    flex: 1;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 20px;
}

.texto-proyecto {
    flex: 1;
    text-align: center;
}

.texto-container h1,
.texto-container h2,
.texto-container h3,
.texto-container ul {
    margin: 0 0 25px 0;
}

.texto-container ul {
    padding-left: 2rem;
}

/* BOTÓN DESCARGA CV */
.texto-container a.btn-download {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #537487;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.texto-container a.btn-download:hover {
    background-color: #345c72;
    transform: scale(1.05);
}

/* BOTÓN DEMO */
.texto-proyecto a.btn-action {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: #537487;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.texto-proyecto a.btn-action:hover {
    background-color: #345c72;
    color: #fff;
    transform: scale(1.05);
}

/* MEDIA QUERY HEADER */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .texto-container {
        text-align: center;
    }

    header {
        padding: 6rem 1rem;
    }
}

/* Fondo oscuro al desplegar el menú en móviles */
nav::before {
  content: "";
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  z-index: 999;
  transition: opacity 0.3s ease;
  opacity: 0;
}

nav.active::before {
  display: block;
  opacity: 1;
}

/* Asegura que el menú queda encima del fondo */
nav ul {
  position: relative;
  z-index: 1000;
}

#toggle-nav {
  position: relative; /* necesario para que z-index funcione */
  z-index: 1001;      /* toogle encima del fondo */
}

/* NAVIGATION */

/* === NAV RESPONSIVE Y ANIMADO === */

#toggle-nav {
    display: none;
    background-color: #f7e99d;
    color: #000;
    font-size: 1.8rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Estilo base del nav */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 0;
    transition: top 0.3s;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 700;
    background-color: #f7e99d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
    background-color: #ffdd00;
    color: #000;
    transform: scale(1.05);
}

/* MODO MÓVIL */
@media (max-width: 768px) {
  #toggle-nav {
      display: inline-block;
      position: fixed;
      top: 20px;          /* distancia desde el borde superior */
      right: 20px;        /* distancia desde el borde derecho */
      z-index: 1002;       /* encima del fondo oscuro */
  }

  #toggle-nav:hover {
      background-color: #ffdd00;
      transform: scale(1.1);
  }

  nav ul {
      display: flex;           /* activa flex */
      flex-direction: column;  /* apilar verticalmente */
      align-items: center;     /* centrar los li horizontalmente */
      width: 100%;             /* ocupa todo el ancho */
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transform: translateY(-10px);
      transition: max-height 0.5s ease, opacity 0.4s ease, transform 0.4s ease;
  }

  nav ul.show {
      max-height: 800px; /* altura para recoger visualmente los enlaces */
      opacity: 1;
      transform: translateY(0);
  }

  nav ul li {
      display: block;
      margin: 15px 0;       /* espacio entre enlaces */
      width: auto;          /* ancho automático */
      text-align: center;   /* centra el texto dentro del li */
  }

  nav ul li a {
      display: block;       /* hace que el enlace ocupe todo el ancho del li */
      width: 100%;
  }
}


/* SECCIONES */
section {
    padding: 2rem;
    margin: 20px auto;
    max-width: 800px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

/* TECH */
#stack-tecnologico {
    text-align: center;
    padding: 20px;
}

.stack-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.stack-item img {
    max-width: 55%;
    height: auto;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

.stack-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}


/* FORMACIÓN Y EXPERIENCIA */
#formacion {
    text-align: center;
    padding: 20px;
}

#formacion ul {
    text-align: left;
    padding: 20px;
    list-style: none;
}

#formacion ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#formacion ul li div {
    flex: 1;
}

#formacion ul li img {
    width: 95px;
    height: auto;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
    margin-left: 20px;
}

#experiencia {
    text-align: center;
    padding: 20px;
}

#experiencia ul {
    text-align: left;
    padding: 20px;
    list-style: none;
}

#experiencia ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#experiencia ul li div {
    flex: 1;
}

#experiencia ul li img {
    width: 95px;
    height: auto;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
    margin-left: 20px;
}

/* CONTACTO */
#contacto {
    text-align: center;
    padding: 20px;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contacto-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.contacto-item:hover {
    transform: scale(1.05);
    background-color: #f7e99d;
}

.contacto-item img {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.contacto-item p {
    margin: 0;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

/* ELEMENTOS RESALTADOS */
.resaltar {
    color: #9d8ac2;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* 🔧 CORRECCIONES RESPONSIVE (desplazamiento a la derecha en móviles) */
.foto-container img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

@media (max-width: 480px) {
    header {
        padding: 4rem 0.5rem;
    }

    .texto-container {
        text-align: center !important;
    }
}

/* BOTÓN CAMBIO IDIOMA */
.lang-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  text-decoration: none;
  padding: 5px 5px;
  border-radius: 5px;
  transition: transform 0.2s ease;
  cursor: pointer;
  border: none;
}

.lang-btn:hover {
  transform: scale(1.1);
}

/* Banderas */
.flag {
  width: 30px;
  height: auto;
}

/* ==== CARRUSEL DE PROYECTOS + CERTIFICACIONES ==== */
.proyectoscerthabilidades {
  text-align: center;
  padding: 20px 20px;
}

.proyectoscerthabilidades img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  scrollbar-width: none; /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* === PROJECT CARDS CON DESPLEGABLE === */
.project-card {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    max-height: 250px; /* Altura por defecto */
    overflow: hidden;
    transition: max-height 0.5s ease;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.project-card {
  flex: 0 0 300px;
  width: 300px;
}

/* Degradado al final del texto */
.project-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, #f4f4f4 10%, rgba(244,244,244,0));
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Cuando está expandida */
.project-card.expanded {
    max-height: 1000px;
    overflow: visible;
}

/* Quita el degradado al expandirse */
.project-card.expanded::after {
    opacity: 0;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #222;
  color: white;
  border: none;
  border-radius: 20%;
  font-size: 24px;
  padding: 10px 14px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
  z-index: 10;
}

.carousel-btn:hover {
  opacity: 1;
}

.carousel-btn.prev { left: 10px; }
.carousel-btn.next { right: 10px; }

@media (max-width: 768px) {
  .project-card {
    flex: 0 0 250px;
  }
}
