body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #5a83a3;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 4rem 2rem;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.foto-container img {
    width: 100%;
    max-width: 300px;
    border: 20px groove #1c6297;
    border-radius: 35%;
    box-shadow: 0 4px 500px #4f548d;
    padding: 15px;
}

.texto-container {
    flex: 1;
}

    .texto-container h1 {
        font-size: 5vw;
    }

    .texto-container h2,
    .texto-container h3,
    .texto-container ul {
        margin: 0 0 25px 0;
        text-align: left;
    }

    .texto-container ul {
        padding-left: 100px;
    }

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .texto-container {
        text-align: center;
    }

        .texto-container h1 {
            font-size: 6vw;
        }

        .texto-container ul {
            padding-left: 20px;
        }

    nav ul li a {
        font-size: 18px;
    }

    section {
        padding: 10px;
    }

    .contacto-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #f7e99d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
}

html {
    scroll-behavior: smooth;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

        nav ul li a {
            font-size: 20px;
            font-weight: 700;
            color: #333;
            text-decoration: none;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
        }

            nav ul li a:hover {
                background-color: #333;
                color: #fff;
                transform: translateY(-3px);
            }

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

.stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 0 auto;
    text-align: center;
}

.stack-item {
    padding: 20px;
    border: 2px solid #1c6297;
    border-radius: 10px;
    background: #f0f0f0;
}

    .stack-item img {
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }

@media (max-width: 768px) {
    .stack-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
